body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  background: #f5f5f5;
}

.conteiner {
  margin: 0 auto;
  width: 1400px;
  background: #ffffff;
  padding: 125px;
}

h1 {
  font-size: 60px;
  letter-spacing: -0.03em;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: rgba(18, 18, 18, 1);
}

.studya-head {
  margin-top: 30px;
  padding-top: 379px;
  padding-left: 40px;
  height: 500px;
  width: 1150px;
  background-image: url('//resources/rectangle1.png');
}

p {
  width: 430px;
  height: 80px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  color: rgba(255, 255, 255, 1);
}

h2 {
  width: 51px;
  height: 25px;
  margin-top: 150px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #121212;
}

.description {
  width: 1048px;
  height: 366px;
  margin-top: 30px;
  font-size: 45px;
  letter-spacing: -0.03em;
  font-weight: 400;
  line-height: 61.47px;
  color: #121212;
}

a {
  margin-top: 30px;
  display: inline-block;
  padding: 20px 40px;
  background-color: #ad1818;
  color: #ffffff;
  border-radius: 5px;
}
